global:
  defaultStorageClass: "csi-cinder"
  redis:
    password: "HarborRedisPassw0rd!"

image:
  repository: bitnamilegacy/redis

architecture: replication

auth:
  enabled: true
  password: "HarborRedisPassw0rd!"

master:
  persistence:
    enabled: true
    size: 8Gi

replica:
  replicaCount: 3
  persistence:
    enabled: true
    size: 8Gi

metrics:
  enabled: true
